@import "tailwindcss";
@plugin "daisyui";

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (padding: env(safe-area-inset-top)) {
  body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

.input:focus,
.select:focus,
.textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: oklch(var(--p) / 0.5);
}
